<div class="detail-idea-container">
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  <div *ngIf="!loading" class="detail-idea-content">
    <!-- Back button -->
    <div class="back-button-container">
      <button (click)="goBack()" class="back-button" mat-button>
        <mat-icon fontIcon="arrow_back"></mat-icon>
        Back
      </button>
    </div>
    <!--Idea-->
    <app-idea-item [idea]="idea" [showDetailButton]="false">
    </app-idea-item>
    <!--User info-->
    <mat-card class="user-card">
      <mat-card-content class="user-content">
        <p class="title">Author information</p>
        <div class="data-container">
          <div class="field">
            <p class="field-name">Name</p>
            <p class="field-value">{{idea.user?.name}} {{idea.user?.lastName}}</p>
          </div>
          <div class="field">
            <p class="field-name">Email</p>
            <div class="field-value">
              {{idea.user?.email}}
              <button #emailTooltip="matTooltip" (click)="copy(idea.user?.email!, emailTooltip)" mat-icon-button
                matTooltip="Copied" matTooltipDisabled="true" matTooltipPosition="below">
                <mat-icon>content_copy</mat-icon>
              </button>
            </div>
          </div>
          <div class="field">
            <p class="field-name">Phone</p>
            <div class="field-value">
              {{idea.user?.phoneNumber}}
              <button #phoneTooltip="matTooltip" (click)="copy(idea.user?.phoneNumber!, phoneTooltip)" mat-icon-button
                matTooltip="Copied" matTooltipDisabled="true" matTooltipPosition="below">
                <mat-icon>content_copy</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- Add comment -->
    <div class="comment-title-container">
      <h1 class="section-title">Comments</h1>
    </div>
    <mat-form-field class="field-container">
      <textarea matInput placeholder="Add new comment" rows="5" cols="10" [(ngModel)]="commentContent"></textarea>
    </mat-form-field>
    <div class="add-button-container">
      <button mat-flat-button type="submit" color="primary" class="add-button" (click)="onSubmitComment()"
        [disabled]="!isCommentWritten()">
        Add new comment
      </button>
    </div>
    <!-- List comments -->
  </div>
</div>
