<div class="list">
  <mat-list *ngIf="!loading">
    <div class="actions-container" [ngStyle]="{'justify-content': showPublish ? 'space-between' : 'flex-end'}">
      <!-- Publish button -->
      <div *ngIf="showPublish">
        <button mat-fab extended color="primary" class="publish-button" (click)="publishIdea()">
          Publish a new idea
        </button>
      </div>
      <!-- Sort by likes -->
      <div>
        <h4 class="title-filter">Sort by likes</h4>
        <div>
          <button mat-icon-button (click)="sortAscending()"
                  [ngStyle]="{'color': sortOrder == 'ASC' ? 'black' : 'gray'}">
            <mat-icon class="icon-button">arrow_upward</mat-icon>
          </button>
          <button mat-icon-button (click)="sortDescending()"
                  [ngStyle]="{'color': sortOrder == 'DESC' ? 'black' : 'gray'}">
            <mat-icon class="icon-button">arrow_downward</mat-icon>
          </button>
        </div>
      </div>
      <!-- Search by topic -->
    </div>
    <div *ngFor="let idea of ideas">
      <app-idea-item [idea]="idea"></app-idea-item>
    </div>
  </mat-list>
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
</div>

