<div class="list">
  <mat-list *ngIf="!loading">
    <div class="actions-container" [ngStyle]="{
    'justify-content': showPublish ? 'space-between' : 'flex-end',
    'padding-bottom': showFilters ? '0' : '22px'
    }">
      <!-- Publish button -->
      <div *ngIf="showPublish">
        <button mat-fab extended color="primary" class="publish-button" (click)="publishIdea()">
          Publish a new idea
        </button>
      </div>
      <div *ngIf="showFilters" class="filters-container">
        <!-- Sort by likes -->
        <div class="likes-filter">
          <h4 class="title-filter">Sort by likes</h4>
          <div>
            <button mat-icon-button (click)="filter('ASC')"
                    [ngStyle]="{'color': sortOrder == 'ASC' ? 'black' : 'gray'}">
              <mat-icon class="icon-button">arrow_upward</mat-icon>
            </button>
            <button mat-icon-button (click)="filter('DESC')"
                    [ngStyle]="{'color': sortOrder == 'DESC' ? 'black' : 'gray'}">
              <mat-icon class="icon-button">arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <!-- Filter by topic -->
        <div>
          <h4 class="title-filter">Search by topic</h4>
          <mat-form-field class="topic-selector">
            <mat-select [(value)]="topicSelected" (selectionChange)="filter()">
              <mat-option *ngFor="let topic of topics" [value]="topic">
                {{topic}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="ideas-container" *ngFor="let idea of ideas">
      <app-idea-item class="app-idea-item" [idea]="idea" [showModificationDate]="showModificationDate"
        [showEditIdeaButton]="showEditIdeaButton"></app-idea-item>
    </div>
  </mat-list>
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
</div>
