@import '../../../styles.scss';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.spinner {
  margin-top: 150px;
}


