@import '../../../styles.scss';

.mat-toolbar {
  background-color: $upm-blue !important;
  color: white !important;
  min-height: 75px !important;
  height: 75px !important;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container img {
  max-width: 65px;
  height: auto;
  margin-right: 10px;
  margin-top: 8px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-divider {
  background-color: white;
  width: 1px;
  margin: 2px 5px 2px 5px;
}

.loggedElements {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.white-button {
  background-color: white;
  border: none;
}

.register-button {
  background-color: $upm-blue !important;
  border: 1px white solid !important;
  color: white !important;
}

.section-button {
  background-color: $upm-blue !important;
  color: white !important;
}

.section-border {
  border: 3px white solid !important;
}

.text-button {
  margin: 10px;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
}

.round-button {
  border-radius: 36px;
}
