.register-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content;

    .content {
        display: flex;
        gap: 90px;

        .column {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .field {
                width: 300px;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .register-button-container {
        display: flex;
        justify-content: flex-end;

        .register-button {
            width: 130px;
        }
    }
}

button {
    border: none;
}