<mat-card class="idea-card">
  <mat-card-content class="content-container">
    <div class="left-content">
      <h2 class="truncate-1-lines" [ngStyle]="{
        '-webkit-line-clamp': isNotDetail ?  1 : 'none'
      }">{{idea.title}}</h2>
      <p class="truncate-3-lines" [ngStyle]="{
        '-webkit-line-clamp': isNotDetail ?  3 : 'none'
      }">{{idea.description}}</p>
      <button (click)="goToDetail()" *ngIf="isNotDetail" color="primary" mat-button>
        View details
        <mat-icon iconPositionEnd>remove_red_eye</mat-icon>
      </button>
    </div>
    <div class="right-content">
      <div class="button-section">
        <button class="topic-button" color="primary" disabled mat-flat-button>
          {{idea.topic}}
        </button>
      </div>
      <div class="like-button-section">
        <h2 class="centered-h2">{{idea.likes}}</h2>
        <div (mouseover)="disabledButton = false"
             (mouseleave)="disabledButton = hasLike">
          <button
            mat-fab
            color="warn"
            [disabled]="loading || disabledButton"
            (click)="likeAction()">
            <mat-icon>thumb_{{hasLike && !disabledButton ? 'down' : 'up'}}</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
