<mat-card class="idea-card">
  <mat-card-content class="content-container">
    <div class="left-content">
      <h2 class="truncate-1-lines" [ngStyle]="{
        '-webkit-line-clamp': isNotDetail ?  1 : 'none'
      }">{{idea.title}}</h2>
      <p class="truncate-3-lines" [ngStyle]="{
        '-webkit-line-clamp': isNotDetail ?  3 : 'none'
      }">{{idea.description}}</p>
      <div class="left-button-section">
        <button (click)="goToDetail()" *ngIf="isNotDetail" color="primary" mat-button>
          View details
          <mat-icon iconPositionEnd>remove_red_eye</mat-icon>
        </button>
        <button *ngIf="showEditIdeaButton" color="primary" mat-button>
          Edit Idea
          <mat-icon iconPositionEnd>edit</mat-icon>
        </button>
        <p *ngIf="showModificationDate">Last modification: dd/mm/yyyy</p>
      </div>
    </div>
    <div class="right-content">
      <div class="button-section">
        <button class="topic-button" color="primary" disabled mat-flat-button>
          {{idea.topic}}
        </button>
      </div>
      <div class="like-button-section">
        <h2 class="centered-h2">{{idea.likes}}</h2>
        <button (click)="addLike()" [disabled]="!allowLike" color="warn" mat-fab>
          <mat-icon>thumb_up</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>