/* You can add global styles to this file, and also import other style files */
// Colors
$upm-blue: #1867B7;
$card-grey: #E1E1E1;
$buttons-purple: #3F51B5;

//Elements
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
}

p {
  margin: 0;
}

.snackbar-position {
  border-radius: 4px;
  margin-top: 85px !important;
}

.info-snackbar {
  border: 1px solid $upm-blue;
  --mdc-snackbar-container-color: rgba(24, 103, 183, 0.20) !important;
  --mdc-snackbar-supporting-text-color: #1867B7 !important;
  --mat-snack-bar-button-color: #1867B7 !important;
}

.mat-mdc-select-panel {
  max-height: none !important;
}
